body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrN_VkwZfMr1Q69OoYHEZ7UiG3Tl-upfZ0HHVY1lWgoEuva0Gk);
    color: rgb(145, 49, 49);
    font-size: 40px;
}

#mylist{
    font-family:'Cousine', monospace;
    color:  rgb(202, 135, 47); 
    font-size: 50px
}

.webpage{
display: inline-block; 
width: 30%;
background-color: rgb(160, 149, 64);
border: 5px solid black;
padding: 40px; 
margin-bottom: 80px;

font-family:'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
text-shadow: 3px 3px gray;

color: #000000;
}

.amazon{
display: inline-block;
width: 30%;
background-color: rgb(228, 219, 219); 
border: 5px solid black;
padding: 40px;
margin-bottom: 80px;



font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
text-shadow: 3px 3px gray;

color: #000000;
}

.notfound{
    font-family: 'Hepta Slab', serif;
    color: rgb(62, 48, 87);
    
    
}

img{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 230px;
  height:210px;
  margin-bottom:100px;
 margin-left: 100px; 
  
}

.git{
   display: inline-block; 
    width: 30%;
background-color: rgb(119, 114, 212);
border: 5px solid black;
padding: 40px; 
margin-bottom: 80px;

font-family:'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
text-shadow: 3px 3px black;

color: #000000;
}

